/* _menu.scss */
ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid;
  border-color: #ddd;

  li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
  }
}
