/* _variables.scss */

$foreground-info: #31708f;
$background-info: #d9edf7;
$border-info: #bce8f1;

$foreground-warning: #8a6d3b;
$background-warning: #fcf8e3;
$border-warning: #faebcc;

$foreground-danger: #a94442;
$background-danger: #f2dede;
$border-danger: #ebccd1;

$foreground-success: #3c763d;
$background-success: #dff0d8;
$border-success: #d6e9c6;