/* style.scss */

@import "variables";

/* alert box definitions */
.alert {
  $text-default: darken($default_color, 55%) !default;
  $background-default: $default_color !default;
  $border-default: desaturate(darken($default_color, 10%), 10%) !default;

  padding:15px;
  margin-bottom:20px;
  color: $text-default;
  background-color: $background-default;
  border:1px solid $border-default;
  border-radius:4px;

  em {
    font-weight: bold;
  }
}

/* alert box info definitions */
.alert-info {
  @extend .alert;

  $text-info: darken($info_color, 55%) !default;
  $background-info: $info_color !default;
  $border-info: desaturate(darken($info_color, 10%), 10%) !default;

  color: $text-info;
  background-color: $background-info;
  border-color: $border-info;
}

/* alert box warning definitions */
.alert-warning {
  @extend .alert;

  $text-warning: darken($warning_color, 55%) !default;
  $background-warning: $warning_color !default;
  $border-warning: desaturate(darken($warning_color, 10%), 10%) !default;

  color: $text-warning;
  background-color: $background-warning;
  border-color: $border-warning;
}

/* alert box danger definitions */
.alert-danger {
  @extend .alert;

  $text-danger: darken($danger_color, 55%) !default;
  $background-danger: $danger_color !default;
  $border-danger: desaturate(darken($danger_color, 10%), 10%) !default;

  color: $text-danger;
  background-color: $background-danger;
  border-color: $border-danger;
}

/* alert box success definitions */
.alert-success {
  @extend .alert;

  $text-success: darken($success_color, 55%) !default;
  $background-success: $success_color !default;
  $border-success: desaturate(darken($success_color, 10%), 10%) !default;

  color: $text-success;
  background-color: $background-success;
  border-color: $border-success;
}